<nav>
    <div class="set-title">
        <a href="/">Message Board</a>
    </div>
    <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/new">New </a></li>
    </ul>
</nav>